<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="question">Question</label>
            <input type="text" id="question" name="question">
        </div>
        <div class="input">
            <label for="level">Level</label>
            <input type="text" id="level" name="level">
        </div>
        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <button type="submit">Insert</button>
    </form>
</section>
<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">Get Data</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Name: {{ this.name }}</div>
                <div>Question: {{ this.question }}</div>
                <div>Level: {{ this.level }}</div>
                <div>Author: {{ this.author }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>
<section class="update">
    <h3>Update Data</h3>
    <form action="/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="Name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="question">Question</label>
            <input type="text" id="question" name="question">
        </div>
        <div class="input">
            <label for="level">Level</label>
            <input type="text" id="level" name="level">
        </div>
        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <button type="submit">Update</button>
    </form>
</section>
</section>
<section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">Delete</button>
    </form>
</section>